.video-wide {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding-top: 56.25%; /* 16:9 ratio */
  margin: 2rem 0;
  border-radius: 12px;
  overflow: hidden;
}

.video-wide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
